body {
  margin: 0;
  font-family: Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Button {
  text-transform: unset !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
