body {
  margin: 0;
  font-family: Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
}

.App {
  background-image: url(./images/dark_gray_abstract_structure.jpg);
  background-size: cover;
  background-repeat: "repeat-y";
  width: auto;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Button {
  text-transform: unset !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

html {
  overflow-x: hidden;
}
